@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron home-jumbotron">
    <h1 class="text-center">Drug InterActions!</h1>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <form asp-action="Search">
            <div class="col-md-6">
                <input asp-for="SearchText" class="form-control" placeholder="Search drug by..." />
            </div>
            <div class="form-group col-md-4">
                <select asp-for="SearchDrugBy" asp-items="Html.GetEnumSelectList<SearchDrugByType>()" class="form-control"></select>
                <span asp-validation-for="SearchDrugBy" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-default pull-right" value="Search" />
            </div>
        </form>
    </div>

    <cache enabled="true" expires-after="@TimeSpan.FromSeconds(4*60*60)">
        @await Component.InvokeAsync("DrugsWithLessSideEffects")
    </cache>

    <cache enabled="true" expires-after="@TimeSpan.FromSeconds(4*60*60)">
        @await Component.InvokeAsync("WeeklyDrugs")
    </cache>
}
else
{
    <cache enabled="true" expires-after="@TimeSpan.FromSeconds(4*60*60)">
        @await Component.InvokeAsync("BrandsWithMostDrugs")
    </cache>
}
