@model List<DrugListingServiceModel>

<h2 class="text-center">Weekly Drugs</h2>
@foreach (var drug in Model)
{
    <ul class="col-md-4">
        <li>@(drug?.Name) produced by @(drug?.Brand?.Name)</li>
    </ul>
}