@model BrandFormModel
@{
    ViewData["Title"] = "Update Selected Brand";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateOfAddition" />
            <input type="hidden" asp-for="AdminId">
            <span asp-validation-for="StatusMessage" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebSite"></label>
                <input asp-for="WebSite" class="form-control">
                <span asp-validation-for="WebSite" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-warning">Update Brand</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}